@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(241, 245, 241);
}

.custom-icon {
  font-size: 24px;
  font-weight: bold;
}

